services:
  mongodb:
    image: mongo:5.0.8
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin    
    restart: always

  api:
    build:
      context: .
    ports:
      - 5000:5000
    restart: always
    environment:
      - FLASK_ENV=development
      - FLASK_RUN_HOST=0.0.0.0
      - MONGODB_DB=users
      - MONGODB_HOST=mongodb
      - MONGODB_USERNAME=admin
      - MONGODB_PASSWORD=admin      
    depends_on:
      - mongodb
    volumes:
      - .:/app
      
